<div class="auth-box">
  <div class="auth-advertisement">
    <h1 (mousemove)="titleAnimations($event);" style="width: auto;">GET YOUR OWN BLOG RIGHT NOW...</h1>
  </div>
  <div class="auth-container">
    <mat-card class="formbox">
      <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab label="LOGIN">
          <app-login></app-login>
        </mat-tab>
        <mat-tab label="REGISTER">
          <app-register></app-register>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>