.auth-box {
    display: flex;
    justify-content: flex-start;
    height: 100%;

    .auth-advertisement {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 7.5;
        height: 100%;
        background-color: #434343;

        h1 {
            display: block;
            color:  #fcfcfc;
            text-transform:uppercase;
            font-size:68px;
            padding:30px;
        }
    }
    
    .auth-container {
        flex: 2.5;
        height: 100%;
        color: #333;
        text-align: right;

        .mat-card {
            padding: 0px 16px 0px 16px;
        }

        .formbox {
            border-radius: 0;
            display: inline-block;
            text-align: left;
            height: 100%;
            display: flex;
            align-items: center;

            mat-tab-group {
                height: 100%;
                width: 100%;
            }

            
            mat-tab {
                height: 100%;
            }
            
        }
    }
}

.form-container{
    // width: 100%;
    margin-top: 15px;
    text-align: center;
    
    .full-width {
        width: 100%;
        margin-bottom: 15px
    }
    
    mat-radio-group {
        display: block;
        mat-radio-button {
            margin-right: 20px;
            padding: 10px 0;
            color: #fff;
        }
    }

    mat-radio-group,
    mat-form-field {
        box-sizing: border-box;
    }
    
    .btn {
        margin-top: 15px;
        color: #fff;
        background-color: #b0bec5;
        transition: background-color .2s;
    }

    .btn:disabled {
        color: #b0bec5;
        background-color: #fcfcfc;
        cursor: not-allowed;
    }

}