<div class="home-container">
  <mat-grid-list cols="12" rows="1" rowHeight="">

    <mat-grid-tile [colspan]="8">

      <mat-tab-group class="mat-background-accent">
        <mat-tab label="Latest Comments">
          <app-comments></app-comments>
        </mat-tab>
        <mat-tab label="Recent Articles">
          <app-articles></app-articles>
        </mat-tab>
      </mat-tab-group>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="4">
      <mat-card class="user-card">
        <ng-container *ngIf="user != null; else userTemplate">

          <mat-card-header>

            <div matTooltip="{{ user.email }}" mat-card-avatar class="user-header-image" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')'}"></div>
            <mat-card-title>{{user.nickName | uppercase}}</mat-card-title>
            <mat-card-subtitle>LAST LOGIN TIME : {{user.lastLoginTime | date: 'M/d/yyyy, h:mm a'}}</mat-card-subtitle>

          </mat-card-header>

          <img mat-card-image src="{{user.avatar}}" alt="Photo of a Shiba Inu">

          <mat-card-content>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button>LIKE</button>
          </mat-card-actions>

        </ng-container>

        <ng-template #userTemplate>
          <mat-error>
            Could not get current user infos.
          </mat-error>
        </ng-template>

      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</div>