.home-container {
    display: block;
    height: 100%;
    mat-grid-list {
        overflow: visible;
        mat-card {
            margin: 0px 15px;
        }
        mat-tab-header {
            margin-bottom: 8px;
        }

        .mat-grid-tile {
            overflow: visible;
        }

        .user-card {
            max-width: 400px;
        }
        
        .user-header-image {
            background-size: cover;
        }

        mat-card-content {
            p {
                display: flex;
                align-items: center;
                justify-content: left;
            }
            mat-icon {
                margin: 0 5px;
            }
        }
    }
}