.dashboard-container {
    height: 100%;
    mat-nav-list {
        a {
            width: 200px;
            mat-icon {
                margin-right: 15px;
            }
        }
    }
    mat-toolbar {
        button {
            width: auto;
            height: auto;
            margin-right: 15px;
        }
    }
    mat-grid-list {
        margin-top: 60px !important;
    }
    .mat-grid-tile {
        overflow: visible;
    }
}

::ng-deep .mat-figure {
    display: block !important;
    /* or whichever you need */
}