<mat-sidenav-container class="dashboard-container">
  <mat-sidenav #sidenav mode="side" opened>

    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        MENUS
      </a>

      <a mat-list-item [routerLink]="[ 'home' ]">
        <mat-icon>dashboard</mat-icon>
        Home
      </a>

      <a mat-list-item routerLink=".">
        <mat-icon>domain</mat-icon>
        Blog
      </a>

      <a mat-list-item [routerLink]="[ 'profile' ]">
        <mat-icon>account_box</mat-icon>
        Profile
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar>
      <button mat-button mat-flat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Profile</span>
    </mat-toolbar>

    <mat-grid-list cols="12" rows="1">

      <mat-grid-tile [colspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="10">
        <router-outlet></router-outlet>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"></mat-grid-tile>

    </mat-grid-list>

  </mat-sidenav-content>
</mat-sidenav-container>