.nav-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px+16px;
    padding: 0 8px;
    box-sizing: border-box;
    background-color: #c2185b;
    z-index: 100;
    nav {
        display: inline-block;
        color: #fcfcfc;
    }
    nav:first-child {
        background-color: rgba(0, 0, 0, 0.2);
    }
    h2 {
        color: #fcfcfc;
    }
}

.app-container {
    height: calc(100% - 52px);
    display: block;
    margin-top: 52px;
}

::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}