<div class="nav-container">
    <nav>
        <button mat-button [routerLink]="[ '' ]">
            <mat-icon>home</mat-icon>
        </button>
    </nav>

    <h2>
        EchoBlog
    </h2>

    <nav>
        <ng-container *ngIf="isLogin; else elseTemplate">
            <button mat-button [matMenuTriggerFor]="accountMenus">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #accountMenus="matMenu">
                <button mat-menu-item [routerLink]="[ 'user/dashboard' ]">
                    <mat-icon>dashboard</mat-icon>
                    {{ user.nickName }}
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    LOGOUT
                </button>
            </mat-menu>

        </ng-container>
        <ng-template #elseTemplate>
            <button mat-button (click)="switch(0)">
                <mat-icon>account_circle</mat-icon>
            </button>
        </ng-template>
    </nav>

</div>

<div class="app-container">
    <router-outlet></router-outlet>
</div>