<div class="form-container" [formGroup]="formGroup">

  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="EMAIL" required formControlName="email">
    <mat-error *ngIf="formGroup.controls.email.hasError('email')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="password" name="password" formControlName="password" required placeholder="PASSWORD">
    <mat-error *ngIf="formGroup.controls.password.hasError('minlength')||formGroup.controls.password.hasError('maxlength')||formGroup.controls.password.hasError('pattern')">
      Passwords must be at least 6 and less than 64 characters in length,from 0-9 a-z no case sensitive and !%@#
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="password" name="confirmpass" required placeholder="CONFIRM PASSWORD" formControlName="confirmPass"
      compare="password">
    <mat-error *ngIf="formGroup.controls.confirmPass.hasError('valueDifferentFrom')">
      Confirm password and Password dont match
    </mat-error>
  </mat-form-field>


  <mat-radio-group formControlName="sex">
    <mat-radio-button class="radio-button" color="primary" checked value="1">MALE</mat-radio-button>
    <mat-radio-button class="radio-button" color="primary" value="0">FEMALE</mat-radio-button>
  </mat-radio-group>

  <button [disabled]="!formGroup.valid" class="btn full-width" mat-button color="accent" (click)="register()">
    <mat-icon>how_to_reg</mat-icon>
    REGISTER
  </button>
  <mat-error *ngIf="formGroup.hasError('srvErr')">
    {{ this.formGroup.getError('srvErr') }}
  </mat-error>

</div>