mat-accordion{
    width: 100%;
    mat-panel-title,mat-panel-description{
        align-items: center;
        mat-icon {
            margin-right: 5px;
        }
    }

    mat-expansion-panel {
        
            div {
                display: flex;
                justify-content: center;
                flex-flow: column;

                mat-form-field {
                    width: 100%;
                }

                .btn {
                    margin-top: 15px;
                    color: #fff;
                    background-color: #b0bec5;
                    transition: background-color .2s;
                }

                .btn:disabled {
                    color: #b0bec5;
                    background-color: #fcfcfc;
                    cursor: not-allowed;
                }

            }
    }
}