<!-- <mat-card class="profile-container">

  <mat-accordion [formGroup]="passwordFormGroup">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Change your password
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>

</mat-card> -->

<mat-accordion multi="true">

  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>face</mat-icon>
        User Settings
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="user != null; else userTemplate">
      <div [formGroup]="formGroup">

        <mat-form-field>
          <input matInput type="text" placeholder="avatar" value="{{user.avatar}}" required formControlName="avatar">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="NICKNAME" value="{{user.nickName}}" required formControlName="nickname">
        </mat-form-field>

        <button [disabled]="!formGroup.valid" class="btn" mat-button color="accent" (click)="modifyWithOutPass()">
          <mat-icon>edit</mat-icon>
          MODIFY
        </button>

      </div>
    </ng-container>
    <ng-template #userTemplate>
      <mat-error>
        Could not get current user infos.
      </mat-error>
    </ng-template>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="false">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>security</mat-icon>
        Password Settings
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div [formGroup]="passwordFormGroup">

      <mat-form-field class="full-width">
        <input matInput type="oldpassword" name="oldpassword" formControlName="oldpassword" required placeholder="OLDPASSWORD">
        <mat-error *ngIf="passwordFormGroup.controls.oldpassword.hasError('minlength')||passwordFormGroup.controls.oldpassword.hasError('maxlength')||passwordFormGroup.controls.oldpassword.hasError('pattern')">
          Passwords must be at least 6 and less than 64 characters in length,from 0-9 a-z no case sensitive and !%@#
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="password" name="password" formControlName="password" required placeholder="PASSWORD">
        <mat-error *ngIf="passwordFormGroup.controls.password.hasError('minlength')||passwordFormGroup.controls.password.hasError('maxlength')||passwordFormGroup.controls.password.hasError('pattern')">
          Passwords must be at least 6 and less than 64 characters in length,from 0-9 a-z no case sensitive and !%@#
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="password" name="confirmpass" required placeholder="CONFIRM PASSWORD" formControlName="confirmPass"
          compare="password">
        <mat-error *ngIf="passwordFormGroup.controls.confirmPass.hasError('valueDifferentFrom')">
          Confirm password and Password dont match
        </mat-error>
      </mat-form-field>

      <button [disabled]="!passwordFormGroup.valid" class="btn full-width" mat-button color="accent" (click)="modifyPassword()">
        <mat-icon>edit</mat-icon>
        CHANGE
      </button>

    </div>

  </mat-expansion-panel>

</mat-accordion>